<div class="side-bar w-100 px-3">
  <div class="d-flex justify-content-center">
    <div class="logo mt-4">
      <img src="./assets/CompanyLogo.png" alt="logo"/>
    </div>
  </div>
  <hr class="endLine"/>
  <app-side-bar-links></app-side-bar-links>
  <div class="profile-card p-3 d-flex align-items-center position-absolute">
    <div class="mr-3">
      <img src="./assets/icons/profilePicture.png" alt=""/>
    </div>
    <div class="details">
      <p class="name mb-0">Nafisa Sh.</p>
      <p class="role mb-0">Support Manager</p>
    </div>

  </div>


</div>

