:host {
  .card {
    width: 270px;
    max-width: 270px;
    height: 123px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }

  .statValue {
    color: #171717;
    font-size: 24px;

  }
  .statName {
    color: #AAAAAA;
    font-size: 16px;
  }
  .growth {
    color: #4BDE97;
    font-size: 14px;
  }
  .lastMonth {
    color: #BDBDBD;
    font-size: 14px;
  }
  .up {
    svg {
      color: #4BDE97;;
      width: 14px;
      padding-right: 2px;
    }
    .growth {
      color: #4BDE97;
    }
  }
  .down {
    svg {
      color: #F26464;
      width: 14px;
      padding-right: 2px;
    }
    .growth {
      color: #F26464;
    }
  }
  .neutral {
    svg {
      color: #FFB648;
      width: 14px;
      padding-right: 2px;
    }
    .growth {
      color: #FFB648;
    }
  }
  .card-container {
    @media screen and (max-width: 640px) {
      justify-content: center !important;
    }
    @media screen and (min-width: 1872px ) {
      width: 75% !important;
    }
  }

}
