:host {
  .request-card {
    border-radius: 12px;
  }

  .title {
    color: #141414;
    font-weight: 600;
    font-size: 18px
  }

  .table {
    border-top: none;
  }

  tr {
    border-bottom: 1px solid #F5F5F5;
  }

  tbody tr {
    height: 72px;

  }

  thead tr {
    color: #8392AB;
    font-size: 14px;
    font-weight: 700;
  }

  .request-name {
    font-size: 16px;
    color: #141414;
    font-weight: 600;
  }

  .request-email {
    font-size: 14px;
    color: #8392AB;
  }

  .status {
    .pending {
      color: rgba(255, 172, 50);;
      background: rgba(255, 172, 50, 0.1);
      border-radius: 100px;
    }

    .active {
      color: rgb(99, 182, 127);
      background: rgba(99, 182, 127, 0.1);
      border-radius: 100px;
    }
  }

}
